<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        user_id = "{{ user_id }}";
        heartImage = "{% static '/assets/heart.png' %}";
        importedQuotes = "";
        liked_urls = parseInt("{{ liked_urls|length }}");
    </script>
    <script src="{% static 'script.js' %}"></script>
    <title>Doogy! - View</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-trans-light px-5">
        <h3 class="font-weight-bold m-0">Doogy!</h3>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a id="collection" href="/" class="btn btn-light px-3 ml-3 rounded-0">Feed</a>
            <p class="ml-auto mr-3 my-0">{{ user.name }}</p>
            <a href="/logout" class="btn btn-warning rounded-0 px-3">Log Out</a>
        </div>
    </nav>
    <div class="container-fluid m-0 p-0">
        <div class="row m-0 p-0" style="height: 56px;"></div>
        <div class="row m-0 p-0 text-center">
            <div class="col">
                <ul class="list-inline text-center m-0 p-5">
                    <li class="list-inline-item align-middle m-3">
                        <img id="profile-image" width="225" height="225" class="rounded-circle bg-light m-0 p-0">
                    </li>
                    <li class="list-inline-item align-middle m-4">
                        <h1 class="font-weight-bold my-1 dashboard-primary">{{ user.name }}</h1>
                        <span class="text-secondary my-1">{{ user.email }}</span><br>
                        <span class="text-secondary my-1">Joined Doogy! on {{ user.created_at.date }}</span>
                        <h4 class="font-weight-bold m-0 mt-4">My Wall</h4>
                        <span class="text-secondary my-1">(Coming Soon)</span>
                    </li>
                    <li class="list-inline-item align-middle m-3">
                        <ul class="list-inline p-3">
                            <li class="list-inline-item text-center mx-2">
                                <ul class="list-inline text-center">
                                    <li>
                                        <h1 id="fav-text" class="display-4 dashboard-primary">{{ liked_urls|length }}
                                        </h1>
                                    </li>
                                    <li class="text-secondary">#favorites</li>
                                </ul>
                            </li>
                            <li class="list-inline-item mx-2">
                                <ul class="list-inline text-center">
                                    <li>
                                        <h1 class="display-4 dashboard-primary">0</h1>
                                    </li>
                                    <li class="text-secondary">#my-wall</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-secondary m-0 px-5 text-center">
            <span class="mb-5 w-50 d-block mx-auto">#doogy! #dog {% for breed in breeds %} #{{ breed }}
                {% endfor %}</span>
        </div>
        <div class="row m-0 p-0 text-left justify-content-left align-items-start">
            {% for url in liked_urls %}
            <div class="col-lg-3 col-md-6 col-sm-12 p-0 text-center">
                <div class="image-box" @click.self="parent" style="background-image: url({{ url }});">
                    <div class="text-box text-center text-light">
                        <div class="content-align-bottom text-center align-items-end">
                            <button id="like" class="btn like-section p-0 mt-auto"><img class="p-0" id="heart"
                                    src="{% static '/assets/heart-filled.png' %}" alt=""></button>
                            <div class="buttons text-right d-inline-block">
                                <a id="viewRaw" class="btn btn-sm btn-outline-light rounded-0 d-inline-block"
                                    href="{{ url }}" target="_blank">View Raw</a><br>
                                <a id="download" class="btn btn-sm btn-outline-light rounded-0 d-inline-block mt-1"
                                    href="{{ url }}" download>Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row m-0 p-5 text-center">
            <div class="col text-center">
                <a id="more-doogy" href="/" class="btn btn-lg btn-light rounded-0 mb-2">Back to Feed!.</a><br>
                <span class="text-secondary">#doogy! #dog</span>
            </div>
        </div>
    </div>
    <footer class="text-center py-3 bg-light">
        <div class="my-auto">
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <h4 class="d-inline-block align-middle mt-2">Dark Mode:</h4>
                </li>
                <li class="list-inline-item">
                    <div class="btn-group d-inline-block" role="group" aria-label="Basic example">
                        <button id="light-mode" type="button" class="btn btn-light btn-color rounded-0">ON</button>
                        <button id="dark-mode" type="button"
                            class="btn btn-light btn-color active rounded-0">OFF</button>
                    </div>
                </li>
            </ul>
            <p id="just-text" class="m-0 text-secondary">&copy;QuangNguyen 2020 - Doogy!<span><a
                        href="https://github.com/quangnguyen17/doogy_server"
                        class="nav-link text-secondary d-inline-block">View project on GitHub</a></span></p>
        </div>
    </footer>
</body>
<script>
    $(document).ready(function () {
        dark = "{{ request.session.dark_mode }}" === "true";
        $(`#${dark ? 'light' : 'dark'}-mode`).addClass('active');
        applyDark(dark);

        $('.row #like').on('click', function (event) {
            like(event, function (response) {
                element = $(event.target).parent().parent().parent().parent().parent();
                $(element).fadeOut(function () {
                    $(element).remove();
                });
            });

            liked_urls--;
            $('#fav-text').text(`${liked_urls}`);
        });

        $('.row .image-box').on('click', function (event) {
            (event.target.id === "heart") ? stopBubbling(event) : view(event);
        });

        $.ajax({
            type: "GET",
            url: "https://dog.ceo/api/breeds/image/random",
            success: function (response) {
                $('#profile-image').attr('src', response.message);
            }
        });
    })
</script>

</html>