<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        #profile-image {
            height: 200px;
            width: 200px;
        }

        html,
        body {
            height: 100%;
        }

        .container {
            min-height: 100%;
        }

        .footer {
            margin-top: -100px;
        }
    </style>
    <script src="{% static 'script.js' %}">
        $('#like').on('click', function (e) {
            like(e);
        });
    </script>
    <title>Doogy! - Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-trans-light px-5">
        <h3 class="font-weight-bold m-0">Doogy!</h3>
        <a id="collection" href="/" class="btn btn-light px-3 ml-3">Home</a>
        <p class="ml-auto mr-3 my-0">{{ user.name }}</p>
        <a href="/logout" class="btn btn-warning px-3">Log Out</a>
    </nav>
    <div class="container-fluid p-5">
        <div class="row" style="height: 56px;"></div>
        <div class="row">
            <ul class="list-inline p-0 m-0">
                <li class="list-inline-item">
                    <img id="profile-image" class="bg-light rounded-circle mx-2 mb-5"
                        src="{% static 'assets/waldo.jpg' %}" alt="">
                </li>
                <li class="list-inline-item ml-3">
                    <h1 class="font-weight-bold">{{ user.name }}</h1>
                    <p>{{ user.email }}</p>
                    <p class="mb-0">Joined Doogy! on {{ user.created_at.date }}</p>
                </li>
            </ul>
        </div>
        <div class="row mx-0 my-2">
            <h2 class="font-weight-bold d-block w-100">My Wall</h2>
            <p>(Wall feature is coming soon :())</p>
        </div>
        <div class="row mx-0 mb-2 mt-5">
            <h2 class="font-weight-bold">Favorites</h2>
        </div>
        <div class="row">
            {% for url in liked_urls %}
            <div class="col-3 text-center">
                <div class="image-box" style="background-image: url({{ url }});">
                    <div class="text-box text-center text-light">
                        <div class="content-align-bottom text-center align-items-end">
                            <div class="like-section p-0 d-inline-block">
                                <button id="like" class="btn p-0 mt-auto"><img class="p-0" id="heart"
                                        src="{% static '/assets/heart-filled.png' %}" alt=""></button>
                            </div>
                            <div class="buttons d-inline-block">
                                <a id="download" class="btn btn-sm btn-outline-light d-inline-block" href="{{ url }}"
                                    download>Download</a>
                                <br>
                                <a id="viewRaw" class="btn btn-sm btn-outline-light d-inline-block mt-2"
                                    href="{{ url }}" target="_blank">View Raw</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer class="footer text-center mt-3 py-3 bg-light">
        <div class="div my-auto">
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <h4 class="d-inline-block align-middle mt-2">Dark Mode:</h4>
                </li>
                <li class="list-inline-item">
                    <div class="btn-group d-inline-block" role="group" aria-label="Basic example">
                        <button id="light-mode" type="button" class="btn btn-light btn-color">ON</button>
                        <button id="dark-mode" type="button" class="btn btn-light btn-color active">OFF</button>
                    </div>
                </li>
            </ul>
            <p id="just-text" class="m-0 mt-2 text-secondary">&copy;QuangNguyen 2020 - Doogy!<span><a href="#"
                        class="nav-link text-secondary d-inline-block">View project on GitHub</a></span></p>
        </div>
    </footer>
</body>

</html>