<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        #profile-image {
            height: 150px;
            width: 150px;
        }
    </style>
    <script>
        user_id = "{{ user_id }}";
        importedQuotes = [];
        liked_urls = [];
        heartImage = "{% static '/assets/heart.png' %}";
    </script>
    <script src="{% static 'script.js' %}"></script>
    <title>Doogy! - View</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-trans-light px-5">
        <h3 class="font-weight-bold mb-1">Doogy!</h3>
        <p class="m-0 mt-1 ml-2">(Beta)</p>
        <a id="collection" href="/" class="btn btn-light px-3 ml-3">Home</a>
        <p class="ml-auto mr-3 my-0">{{ user.name }}</p>
        <a href="/logout" class="btn btn-warning px-3">Log Out</a>
    </nav>
    <div class="container-fluid p-5">
        <div class="row" style="height: 56px;"></div>
        <div class="row justify-content-center align-items-start">
            <div class="col-3 text-center">
                <div class="jumbotron bg-light">
                    <img id="profile-image" class="bg-light rounded-circle mb-4" src="{% static 'assets/waldo.jpg' %}"
                        alt="">
                    <h2 class="font-weight-bold mb-2">{{ user.name }}</h2>
                    <p class="mb-1 text-secondary">{{ user.email }}</p>
                    <p class="m-0 text-secondary">Joined Doogy! on {{ user.created_at.date }}</p>
                </div>
                <h2 class="font-weight-bold d-block w-100">My Wall</h2>
                <p class="text-secondary">(Feature coming soon!)</p>
            </div>
            <div class="col-9 pl-5">
                <div class="row ml-1 mb-3">
                    <h3 class="d-block w-100 font-weight-bold">Favorites</h3>
                    {% if liked_urls|length < 1 %}
                    <p class="text-secondary">You don't have any favorites. Navigate back to home page to explore more!
                    </p>
                    {% endif %}
                </div>
                <div class="row">
                    {% for url in liked_urls %}
                    <div class="col-4 text-center p-1">
                        <div class="image-box" style="background-image: url({{ url }});">
                            <div class="text-box text-center text-light">
                                <div class="content-align-bottom text-center align-items-end">
                                    <button id="like" class="btn like-section p-0 mt-auto"><img class="p-0" id="heart"
                                            src="{% static '/assets/heart-filled.png' %}" alt=""></button>
                                    <div class="buttons d-inline-block">
                                        <a id="download" class="btn btn-sm btn-outline-light d-inline-block"
                                            href="{{ url }}" download>Download</a>
                                        <br>
                                        <a id="viewRaw" class="btn btn-sm btn-outline-light d-inline-block mt-2"
                                            href="{{ url }}" target="_blank">View Raw</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <script>
                        $('.col-4 #like').on('click', function (event) {
                            like(event, function (response) {
                                $(event.target).parent().parent().parent().parent().parent().remove();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center mt-3 py-3 bg-light">
        <div class="div my-auto">
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <h4 class="d-inline-block align-middle mt-2">Dark Mode:</h4>
                </li>
                <li class="list-inline-item">
                    <div class="btn-group d-inline-block" role="group" aria-label="Basic example">
                        <button id="light-mode" type="button" class="btn btn-light btn-color">ON</button>
                        <button id="dark-mode" type="button" class="btn btn-light btn-color active">OFF</button>
                    </div>
                </li>
            </ul>
            <p id="just-text" class="m-0 text-secondary">&copy;QuangNguyen 2020 - Doogy!<span><a
                        href="https://github.com/quangnguyen17/doogy_server"
                        class="nav-link text-secondary d-inline-block">View project on GitHub</a></span></p>
        </div>
    </footer>
</body>

</html>