<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        const importedQuotes = "{% static 'quotes.json' %}";
        const heartImage = "{% static '/assets/heart.png' %}";
        const heartImageFilled = "{% static '/assets/heart-filled.png' %}";
        const user_id = "{{ user_id }}";
        const liked_urls = "{{ liked_urls }}".split(", ");
    </script>
    <script src="{% static 'script.js' %}"></script>
    <script>
        $(document).ready(function () {
            dark = "{{ request.session.dark_mode }}" === "true";
            $(`#${dark ? 'light' : 'dark'}-mode`).addClass('active');
            applyDark(dark);
        })
    </script>
    <title>Doogy! - View</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            position: absolute;
            padding: 0px;
            margin: 0px;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black),
            url('{{ url }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .bottom-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .text-box:hover {
            opacity: 0;
        }

        .image-sized {
            height: 100px;
            width: 100px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
        <h3 class="font-weight-bold m-0">Doogy!</h3>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user != None %}
            <a id="favorites" href="/" class="btn btn-light px-3 ml-4 mr-2 rounded-0">Home</a>
            <a id="collection" href="/dashboard" class="btn btn-light px-3 ml-3 mr-2 rounded-0">Dashboard</a>
            <p class="ml-auto mr-4 my-0">{{ user.name }}</p>
            <a href="/logout" class="btn btn-warning rounded-0 px-3">Log Out</a>
            {% else %}
            <a id="favorites" href="/" class="btn btn-light px-3 ml-3 mr-2 rounded-0">Home</a>
            <a class="nav-link ml-auto text-secondary px-2 mr-4 rounded-0" href="/welcome">Sign up to save your favorite
                photos.</a>
            <a href="/welcome" class="btn btn-secondary rounded-0 px-4">Sign In</a>
            {% endif %}
        </div>
    </nav>
    <div class="bottom-controls m-0 p-0">
        <ul class="list-inline text-light text-center p-0 m-0">
            <li class="list-inline-item p-0 m-5">
                <button id="onLike" class="btn">
                    {% if url in liked_urls %}
                    <img id="heart" class="p-0 image-sized" src="{% static '/assets/heart-filled.png' %}" alt="">
                    {% else %}
                    <img id="heart" class="p-0 image-sized" src="{% static '/assets/heart.png' %}" alt="">
                    {% endif %}
                </button>

                <p class="text-light m-0">#{{ breed }}</p>
                <p class="text-light m-0">#dog</p>
                <p class="text-light mb-3">#doogy!</p>


                <a class="btn btn-outline-light d-inline-block rounded-0" href="{{ url }}" download>Download</a>
                <a class="btn btn-outline-light d-inline-block rounded-0" href="{{ url }}" target="_blank">View Raw</a>
            </li>
            <li class="list-inline-item p-0 m-5">
                <p class="m-0">[Image URL]: <a class="text-light" href="{{ url }}">{{ url }}</a></p>
                <p class="m-0 mb-2">- Share with your friends on: (Coming Soon.)</p>
                <a href="#"><img width="56" height="56" src="{% static '/assets/facebook.png' %}" alt=""></a>
                <a href="#"><img width="56" height="56" src="{% static '/assets/twitter.png' %}" alt=""></a>
            </li>
        </ul>
    </div>
</body>
<script>
    $('#onLike').on('click', function (event) {
        (user_id !== "None") ? handleLike($(event.target), "{{ url }}") : window.location.replace("/welcome");
    });
</script>

</html>