<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        const importedQuotes = "{% static 'quotes.json' %}";
        const heartImage = "{% static '/assets/heart.png' %}";
        const heartImageFilled = "{% static '/assets/heart-filled.png' %}";
        const user_id = "{{ user_id }}";
        const liked_urls = "{{ liked_urls }}".split(", ");
    </script>
    <script src="{% static 'script.js' %}"></script>
    <script>
        $(document).ready(function () {
            dark = "{{ request.session.dark_mode }}" === "true";
            $(`#${dark ? 'light' : 'dark'}-mode`).addClass('active');
            applyDark(dark);
        })
    </script>
    <title>Doogy! - View</title>
    <style>
        html,
        body {
            height: 100%;
        }

        .container {
            min-height: calc(100% - 116px);
            overflow: auto;
        }

        .modified {
            width: 100%;
            padding-top: 100%;
            position: relative;
        }

        .text-box:hover {
            opacity: 0;
        }

        #heart-img {
            height: 62.5px;
            width: 62.5px;
            object-fit: contain;
        }

        .footer {
            position: relative;
            padding-top: -116px;
            clear: both;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
        <h3 class="font-weight-bold m-0">Doogy!</h3>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user != None %}
            <a id="favorites" href="/" class="btn btn-light px-3 ml-4 mr-2 rounded-0">Home</a>
            <a id="collection" href="/dashboard" class="btn btn-light px-3 ml-3 mr-2 rounded-0">Dashboard</a>
            <p class="ml-auto mr-4 my-0">{{ user.name }}</p>
            <a href="/logout" class="btn btn-warning rounded-0 px-3">Log Out</a>
            {% else %}
            <a id="favorites" href="/" class="btn btn-light px-3 ml-3 mr-2 rounded-0">Home</a>
            <a class="nav-link ml-auto text-secondary px-2 mr-4 rounded-0" href="/welcome">Sign up to save your favorite
                photos.</a>
            <a href="/welcome" class="btn btn-secondary rounded-0 px-4">Sign In</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="row" style="height: 56px;"></div>
        <div class="row m-0 px-2 py-5 align-items-center">
            <div class="col-md-6 col-sm-12">
                <div class="image-box modified" style="background-image: url({{ url }});">
                    <div class="text-box text-center text-light"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline p-3 m-0">
                    <li class="my-4">
                        <button id="onLike" class="btn p-0 mt-auto">
                            {% if url in liked_urls %}
                            <img id="heart-img" class="p-0" src="{% static '/assets/heart-filled.png' %}" alt="">
                            {% else %}
                            <img id="heart-img" class="p-0" src="{% static '/assets/heart.png' %}" alt="">
                            {% endif %}
                        </button>
                    </li>
                    <li class="my-4">
                        <a id="download" class="btn btn-lg btn-light d-inline-block breed-btn rounded-0"
                            href="{{ url }}" download>Download</a>
                        <a id="viewRaw" class="btn btn-lg btn-light d-inline-block breed-btn rounded-0" href="{{ url }}"
                            target="_blank">View
                            Raw</a>
                    </li>
                    <li class="my-4">
                        <p class="m-0">Image URL: <a class="text-secondary" href="{{ url }}">{{ url }}</a></p>
                    </li>
                    <li class="my-4">
                        <p class="m-0 mb-2">- Share with your friends on: (Coming Soon.)</p>
                        <a class="mr-2" href="#"><img width="56" height="56" src="{% static '/assets/facebook.png' %}"
                                alt=""></a>
                        <a href="#"><img width="56" height="56" src="{% static '/assets/twitter.png' %}" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <footer class="footer text-center py-3 bg-light">
        <div class="div my-auto">
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <h4 class="d-inline-block align-middle mt-2">Dark Mode:</h4>
                </li>
                <li class="list-inline-item">
                    <div class="btn-group d-inline-block" role="group" aria-label="Basic example">
                        <button id="light-mode" type="button" class="btn btn-light btn-color rounded-0">ON</button>
                        <button id="dark-mode" type="button" class="btn btn-light btn-color rounded-0">OFF</button>
                    </div>
                </li>
            </ul>
            <p id="just-text" class="m-0 text-secondary">&copy;QuangNguyen 2020 - Doogy!<span><a
                        href="https://github.com/quangnguyen17/doogy_server"
                        class="nav-link text-secondary d-inline-block">View project on GitHub</a></span></p>
        </div>
    </footer>
</body>
<script>
    $('#onLike').on('click', function (event) {
        (user_id !== "None") ? handleLike($(event.target), "{{ url }}") : window.location.replace("/welcome");
    });
</script>

</html>